<a href="https://colab.research.google.com/github/deenarie/2024-Btech-Data-Analytics/blob/main/Mod_6_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/invoices.csv')
df.head(3)

<ipython-input-1-b2712fc38154>:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/invoices.csv')

,InvoiceLineID,InvoiceID,StockItemID,Description,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy,LastEditedWhen,Customer
0,1,1,67.0,Ride on toy sedan car (Black) 1/12 scale,7.0,10.0,230.0,15.0,345.0,850.0,2645.0,7.0,NaN,Stuff by Stew
1,2,2,50.0,Developer joke mug - old C developers never di...,7.0,9.0,13.0,15.0,NaN,76.5,-999.0,7.0,1/1/2013 12:00,Wholesaler Plus
2,3,2,10.0,USB food flash drive - chocolate bar,7.0,9.0,32.0,15.0,43.2,180.0,331.2,7.0,NaN,Wholesaler Plus

1 - How many rows does the data set have?

In [ ]:
df.shape

(197725, 14)

2 - Which of the following columns contain null values?

In [ ]:
col_count = df.isnull().sum()
print(col_count)

InvoiceLineID          0
InvoiceID              0
StockItemID          396
Description          579
PackageTypeID          1
Quantity               1
UnitPrice              1
TaxRate                1
TaxAmount         103738
LineProfit             1
ExtendedPrice     100736
LastEditedBy           1
LastEditedWhen    197721
Customer               1
dtype: int64

3 - Compute the descriptive statistics on the data set. Which columns appear to have logical errors?

In [ ]:
df.describe().round(2)

,InvoiceLineID,InvoiceID,StockItemID,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy
count,197725.00,197725.00,197329.00,197724.0,197724.00,197724.00,197724.00,93987.00,197724.00,96989.00,197724.00
mean,98863.00,30454.80,109.58,7.1,38.83,45.90,14.49,113.39,375.15,738.27,10.82
std,57078.44,17592.16,63.38,0.5,54.95,140.01,3.89,223.32,752.71,1715.87,5.52
min,1.00,1.00,1.00,7.0,1.00,0.66,-15.00,1.42,-120.00,-999.00,2.00
25%,49432.00,15235.00,54.00,7.0,5.00,13.00,15.00,14.40,51.00,89.70,6.00
50%,98863.00,30406.00,110.00,7.0,9.00,18.00,15.00,34.02,120.00,248.40,11.00
75%,148294.00,45671.00,164.00,7.0,60.00,32.00,15.00,129.60,390.00,905.28,16.00
max,197725.00,60979.00,219.00,10.0,3150.00,1899.00,15.00,14994.00,9200.00,114954.00,20.00

5 - Fix standardization issues in the data set to determine which customer has created the most unique invoices. Which customer created the most invoices?

In [ ]:
# Display the count of each company before replacement
#print(df['Customer'].value_counts())
df = pd.read_csv('/content/invoices.csv')

df['Customer'] = df['Customer'].replace("Terry's Trinket", "Terry's Trinkets")

print(df['Customer'].value_counts())

Customer
Terry's Trinkets       81373
Stuff by Stew          53955
Stuf by Stew           27498
Wholesaler Plus        13538
Big Buys Retail        11459
stuff by stew           6059
Dennis Distribution     3842
Name: count, dtype: int64

<ipython-input-5-d1a6ca5ebe0d>:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/invoices.csv')

6 - Observe the null values in the LastEditedWhen column. Based on the number of null values in the column and the questions being asked by executives, what do you recommend doing to eliminate null values?

In [ ]:

df.drop(columns=['LastEditedWhen'], inplace=True)

df.shape

(197725, 13)

7 - Perform the action that you recommended above. After performing the action, which column contains the most null values?

In [ ]:
col_count = df.isnull().sum()
print(col_count)

InvoiceLineID         0
InvoiceID             0
StockItemID         396
Description         579
PackageTypeID         1
Quantity              1
UnitPrice             1
TaxRate               1
TaxAmount        103738
LineProfit            1
ExtendedPrice    100736
LastEditedBy          1
Customer              1
dtype: int64

8 - Observe the columns StockItemID and Description. Notice that StockItemID is a single number, and each number has a corresponding Description. Thus, by knowing the StockItemID of a row, its Description can be imputed. However, if both the StockItemID and Description are missing, the item is unknown.

How many rows have both a null StockItemID and a null Description?

In [ ]:
df[df['StockItemID'].isnull() & df['Description'].isnull()].shape[0]

396

9 - Observe the rows that have both a null StockItemID and a null Description. Based on the number of null values and the questions asked by the executives, what do you recommend doing to remove null values from these columns?

In [ ]:

df[['StockItemID', 'Description']].info
df.dropna(subset=['StockItemID', 'Description'],how='all')
df.shape

(197725, 13)

10 - Perform the action that you recommended above. How many rows are left in the data frame?

In [ ]:
# df = df[~['StockItemID'].isnull() & df['Description'].isnull()]
# df.dropna(subset=['StockItemID', 'Description'],how='all')
df.shape[0]

197725

11 - Observe the TaxRate column, which contains some negative values. Based on your domain knowledge and best guess of what tax rates should be, which of the following actions might you recommend for preparing this data set for analysis?

In [ ]:
df.describe()

,InvoiceLineID,InvoiceID,StockItemID,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy
count,197725.000000,197725.000000,197329.000000,197724.000000,197724.000000,197724.000000,197724.000000,93987.000000,197724.000000,96989.000000,197724.000000
mean,98863.000000,30454.798781,109.575379,7.101546,38.831953,45.898349,14.487012,113.392027,375.148514,738.267930,10.820775
std,57078.435325,17592.159094,63.378028,0.498371,54.949190,140.009826,3.889287,223.316489,752.706406,1715.872703,5.524430
min,1.000000,1.000000,1.000000,7.000000,1.000000,0.660000,-15.000000,1.420000,-120.000000,-999.000000,2.000000
25%,49432.000000,15235.000000,54.000000,7.000000,5.000000,13.000000,15.000000,14.400000,51.000000,89.700000,6.000000
50%,98863.000000,30406.000000,110.000000,7.000000,9.000000,18.000000,15.000000,34.020000,120.000000,248.400000,11.000000
75%,148294.000000,45671.000000,164.000000,7.000000,60.000000,32.000000,15.000000,129.600000,390.000000,905.280000,16.000000
max,197725.000000,60979.000000,219.000000,10.000000,3150.000000,1899.000000,15.000000,14994.000000,9200.000000,114954.000000,20.000000

12 - Observe the TaxRate column, which contains some negative values. Based on your domain knowledge and best guess of what tax rates should be, which of the following actions might you recommend for preparing this data set for analysis?

13 - Observe the column TaxAmount, which indicates the amount of tax paid for each invoice line. The TaxAmount can be calculated using the following formula:


Based on this knowledge, the number of null values in the data set, and the questions being asked by the executives, what do you recommend doing to remove null values from this column?

14 - Perform the action that you recommended above. What is the average TaxAmount after removing the null values?

In [ ]:
df['TaxAmount'].fillna((df['UnitPrice'] * df['Quantity'] * df['TaxRate'])/100, inplace = True)
df['TaxAmount'].mean()

110.95270547581474

15 - Observe the column ExtendedPrice, which indicates the total price paid by the customer. The ExtendedPrice can be calculated using the following formula:


# Based on this knowledge, the number of null values in the data set, and the questions being asked by the executives, what do you recommend doing to remove null values from this column?

In [ ]:
df['ExtendedPrice'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 197725 entries, 0 to 197724
Series name: ExtendedPrice
Non-Null Count  Dtype
--------------  -----
96989 non-null  float64
dtypes: float64(1)
memory usage: 1.5 MB

16 - Perform the action that you recommended above. Treat the values of -999 as an input error and perform the recommended action on that value as well. After addressing these issues, what is the average ExtendedPrice?

In [ ]:
# df['ExtendedPrice'].fillna(((df['UnitPrice'] * df['Quantity']) + df['TaxAmount']), inplace = True)
# df.loc[(df['ExtendedPrice] == 999), 'ExtendedPrice'] = ((df['UnitPrice']) * ['Quantity'] + ['TaxAmount'])
# df['ExtendedPrice'].mean()


# Fill missing values in 'ExtendedPrice' using the formula
df['ExtendedPrice'].fillna((df['UnitPrice'] * df['Quantity']) + df['TaxAmount'], inplace=True)

# Replace values of 'ExtendedPrice' that are 999 with the calculated formula
df.loc[df['ExtendedPrice'] == 999, 'ExtendedPrice'] = (df['UnitPrice'] * df['Quantity']) + df['TaxAmount']

# Calculate and print the mean of 'ExtendedPrice'
mean_extended_price = df['ExtendedPrice'].mean()
print(mean_extended_price)

800.4910962250409

17 - Observe values in the Quantity and ExtendedPrice columns. Use the z-score method with a threshold of 3 to determine which rows are outliers in these columns.

Based on the Quantity column, how many rows could be considered outliers?

18 - Observe values in the Quantity and ExtendedPrice columns. Use the z-score method with a threshold of 3 to determine which rows are outliers in these columns. Make sure that you get rows that have a z-score greater than or equal to 3.

Based on the ExtendedPrice column, how many rows could be considered outliers?

19 - Perform the action that you recommended above. Also use the same action to replace values that are most likely business logical errors. What is the average ExtendedPrice after removing the null values and business logical errors?

20 - Observe the InvoiceLineID and the InvoiceID columns. The data set provided should have a unique ID for each invoice line, but there can be repeated invoice IDs because several different lines can be from the same invoice. Based on this knowledge, how would you handle checking for duplicate rows in the data set?

21 - Perform the action that you recommended above and drop duplicate rows from the data set. How many total rows are in the data set after performing this action?

22 - At this point, you should have a data set that is mostly free of null values (only has some null values in the Description column). Use this data set to answer the questions below.

Which item has the highest total quantity sold? Use the Description and Quantity columns.

23 - Which item has generated the most total profit? Use the Description and LineProfit columns.

24 - Which item is purchased in greatest quantities in a single order, on average? Use the Quantity and Description columns.